.about {
  padding-top: 80px;
  padding-bottom: 120px;

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(8, auto) ;
    column-gap: 20px;
  }

  &__text {
    grid-column: 2 / span 6;
    margin: 0;
    margin-bottom: 15px;
  }

  &__aside {
    grid-column: 9/ span 3;
    grid-row: 2/ 4;
  }

  &__text-accent {
    padding: 80px 99px;
    grid-column: 1/-1;
    min-height: 304px;
    background-image: url('../../img/bg-accent.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    box-sizing: border-box;
    margin: 0;
    font-size: 26px;
    line-height: 48px;
    color: #ffffff;
    font-weight: 500;
    margin: 40px 0;
  }

  &__figure {
    grid-column: 2/ span 10;
    margin: 0;
    display: flex;
    align-items: flex-end;
    flex-direction: row-reverse;
    margin: 40px 0;

    & > img {
      margin-right: 40px;
    }

    & figcaption {
      position: relative;
      padding-left: 20px;
      font-size: 14px;
      line-height: 24px;

      &::before {
        content: "";
        position: absolute;
        border-left: 1px solid #A78587;
        height: 100%;
        left: 0;
      }
    }
  }

  &__image-text {
    font-size: 14px;
    line-height: 24px;
  }

  &__link {
    color: #9A8584;
  }
}
