.header-section {
  font-family: 'OldStandardTT', 'Times New Roman', serif;
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  align-items: center;
  column-gap: 20px;
  margin-bottom: 33px;

  &__title {
    grid-column: 2/-1;
    grid-row: 1;
    font-weight: 400;
    font-size: 42px;
    line-height: 54px;
    margin: 0;
    z-index: 1;
    text-transform: uppercase;
  }

  &__subtitle {
    grid-column:  1/-1;
    grid-row: 1;
    font-size: 140px;
    line-height: 110px;
    text-transform: uppercase;
    color: #EAE1DC;
    left: -99px;
    top: 0;
    margin: 0;
    margin-top: 15px;
  }

  &--mission {
    grid-template-columns: repeat(6, 1fr);
    grid-column: 7/-1;
    margin-bottom: 0;

    & .header-section__title {
      color: #EEE9E6;
    }

    & .header-section__subtitle {
      color: rgba(154, 133, 132, 0.1);
    }
  }

  &--team {
    grid-column: 1/-1;

    & .header-section__title {
      color: #EEE9E6;
    }

    & .header-section__subtitle {
      color: rgba(154, 133, 132, 0.1);
    }
  }

  &--feedback {
    grid-column: 1/7;
    margin-top: 80px;
    grid-template-columns: repeat(6, 1fr);
    margin-bottom: 36px;

    & .header-section__title {
      grid-column: 2/-1;
      color: #EEE9E6;
    }

    & .header-section__subtitle {
      color: rgba(154, 133, 132, 0.1);
    }
  }

}
