.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  line-height: 20px;
  color:  inherit;

  &__link {
    font-family: var(--logo-font-family);
    font-size: 44px;
    line-height: 51px;
    text-decoration: none;
    text-transform: uppercase;
    color:  inherit;
    margin-right: 12px;
  }

  &__text {
    font-size: 14px;
    line-height: 20px;
    margin: 0;
  }
}
