.page-header {
  background-color: #F8F6F5;

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
    align-items: center;
    min-height: 96px;
  }

  &__logo {
    grid-column: 1/ span 4;
  }

  &__phone {
    grid-column: 7 / span 2;
    font-size: 14px;
    line-height: 24px;
    color: inherit;
    text-decoration: none;
    padding-left: 28px;
    background-image: url('../../img/phone-icon.svg');
    background-repeat: no-repeat;
    background-position: left top 5px;

    &--decoration {
      text-decoration: underline;
    }
  }

  &__address {
    grid-column: 9 / span 3;
    font-style: inherit;
    font-size: 14px;
    line-height: 24px;
    padding-left: 28px;
    background-image: url('../../img/map-icon.svg');
    background-repeat: no-repeat;
    background-position: left top 5px;
  }

  &__button {
    grid-column: span 1;
    justify-self: end;
    border: none;
    padding: 0;
    background-color: transparent;
    width: 36px;
    height: 32px;
    background-image: url('../../img/burger.svg');
    background-repeat: no-repeat;
    background-position: center top;
    cursor: pointer;
  }
}
